body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
  }

html, body {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://cafeutam.com.br/_temas/t_site/imagens/8tsawa9a-LY_UTAM_Banner_CafeAlemBebida_26out2021.jpg);
    background-size: 100%;
    height: 90%;
    width: 100%;
}

:root {
    --tamanho-header: 80px;
    --tamanho-banner: calc(100vh - var(--tamanho-header));
    --tamanho-simulador: calc(100vh - var(--tamanho-header));
    --tamanho-login: calc(100vh - var(--tamanho-header));
}

.heather {
    display: flex;
    width: 80%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
    align-items: center;
    height: 100%;
    display: flex;
}

.header a {
    text-decoration: none;
    color: #d9d9d9db;
}

.agora {
    font-weight: 800;
}

.navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #5c2e0e;
}

.login {
    height: var(--tamanho-login);
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #d9d9d9db;
    width: 480px;
    border-radius: 33px;
    padding: 36px 32px;
}

.card-login span {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:33px;
    color: #000000;
}

.formulario {
    display: flex;
    height: 90%;
    width: 80%;
    justify-content: space-around;
    flex-direction: column;
}

.formulario input {
    border-radius: 10px;
    margin: 0;
}

.formulario input {
    font-size: 1rem;
    color: #000000;
    padding: 12px 12px 12px 20px;
    margin: 8px 0;
    border: none;
    border-bottom: 6px solid var(--first-color);
    border-radius: 12px;
    background-color: #D0B99A;
    width: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.4s;
}

.campo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 5px 0;
}

.input_container select{
    font-size: 1rem;
    padding: 12px 12px 12px 45px;
    margin: 13px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    background-color: #D3D3D3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

#botao {
    background-color: #5f4829;
    color: white;
    border: none;
    border-radius: 23px;
    padding: 9px 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596);
    text-transform: uppercase;
    letter-spacing: 1.3px;
    width: 120px;
    align-self: center;
}

#botao:hover {
    background-color: #cc5523;
    transform: scale(1.05);
}

#botao:active {
    background-color: #ce835ae7;
    transform: scale(1);
}

#cadastro {
    color: saddlebrown;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#cadastro a {
    color: var(--first-color);
    transition: 0.2s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
}

#cadastro a:hover {
    color: #5c2e0e;
}

#buton-cadastrar {
    background-color: #5f4829;
    color: white;
    border: none;
    border-radius: 23px;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.4s, transform 0.4s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.596);
    text-transform: uppercase;
    letter-spacing: 1.3px;
}

#buton-cadastrar:hover {
    background-color: #cc5523;
    transform: scale(1.05);
}

#buton-cadastrar:active {
    background-color: #ce835ae7;
    transform: scale(1);
}

#input_nasc {
    color: #7b7979;
}

.input_container input{
    font-size: 1rem;
    color: #000000;
    padding: 12px 12px 12px 30px;
    margin: 13px 0;
    /* quando clicar na input aparecer a borda */
    cursor: pointer;
    border: none;
    border-radius: 12px;
    background-color: #D0B99A;
    width: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}  

.input_container select{
    font-size: 1rem;
    padding: 12px 12px 12px 45px;
    margin: 13px 0;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    background-color: #D3D3D3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} 

