* {
    margin: '';
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html, body {
    background-size: 100%;
    height: 100%;
    width: 100%;
    background-color: #ddd;
}

.agora {
    font-weight: 800;
}

.header {
    width: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding: 5px 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #583b2cdb;
}

.logo {
    width: 50px;
}

.header ul a{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    padding: 10px 39px;
    border-radius: 20px;
    background-color: #deb887cc;
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: color 0.2;
}

.header ul a:hover {
    color: #fbfafa;
}

.navbar-autorizacao a{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    padding: 10px 39px;
    border-radius: 20px;
    background-color: #deb887cc;
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: color 0.2;
}

.navbar-login:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navbar-login:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.navbar-cadastro:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.navbar-cadastro:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #5F4343;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
}

.legenda {
    margin-top: 310px;
    margin-left: 10px;
}

.body-section1 {
    /* height: 100%;
    width: 100%; */
    display: flex;
    /* align-items: center; */
    margin-top: 2%;
    /* justify-content: space-around; */
    /* opacity: 0;  */
    /* transition: opacity 0.5s ease; */
    background-color: #6f4d3cdc;
    padding: 20px;
    min-height: 350px;
    max-height: 350px;
    align-items: center;
}

.body-section1 span {
    /* margin-left: 40px; */
    font-size: 27px;
    padding: 60px;
}

.body-section1 p {
    /* margin-left: 40px; */
    font-size: 23px;
    font-weight: 30px;
}

.body-section2 {
    display: flex;
    margin-top: 2%;
    background-color: #b8a195dc;
    padding: 20px;
    min-height: 350px;
    max-height: 350px;
}

.body-section2 span {
    margin-left: 40px;
    font-size: 23px;
    padding: 60px;

}


.body-section3 {
    display: flex;
    margin-top: 2%;
    background-color: #6f4d3cdc;
    padding: 20px;
    min-height: 350px;
    max-height: 350px;
}

.body-section3 span {
    margin-left: 40px;
    font-size: 23px;
    padding: 60px;

}

img {
    margin: 10px;
}

.footer {
    padding-top: 10px;
    background-color: #583b2c;
    color: #fff;
    margin-top: 2%;
    /* padding: 10px 0; */
}

.footer .footer-copyrigth {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

figure {
    width: 70%;
    text-align: center;
    font-style: italic;
    font-size: smaller;
    margin: 10px;
    padding: 10px;
  }
