@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins',sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.sidebar {
    z-index: 100;
    position: fixed;
    width: 100%;
    background-color: #d3d3d3;
    padding: 5px, 6%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.sidebar p{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    padding: 10px 39px;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: color 0.2;
}

.sidebar a{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
    text-decoration: none;
    padding: 10px 39px;
    border-radius: 20px;
    background-color: #deb887cc;
    text-decoration: none;
    color: black;
    font-size: 17px;
    transition: color 0.2;
}

.content {
    /* margin-left: 260px; */
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
    justify-content: space-between;
}

.charts {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    max-width: 1000px; 
    margin-top: 20px;
    padding-bottom: 3%; 
}

.chart-container {
    max-width: 1000px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    height: 500px;
    width: 750px;
}

.chart-box {
    width: 48%; 
    border: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    height: 350px; 
    margin: 0 1%;
    flex-direction: column;
}

.pie-chart{
    display: flex;
    width: fit-content;
    height: fit-content;
}

.bar-chart{
    display: flex;
    height: fit-content;
    width: 700px;
}

.chart-title {
    background-color: rgba(60, 179, 113, 1);
    color: white;
    text-align: center;
    padding: 5px;
    width: fit-content;
    margin: 0 auto;
    border-radius: 5px;
    height: fit-content;            
}

.button {
    display: block;
    margin-top: 10px;
    padding: 10px;
    background-color: #333;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    border: none;
}

.toggle-button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px; 
    font-size: 0.9em; 
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #28a745;

}

.toggle-button.mostrar {
    background-color: #dc3545;
}

.toggle-button.remover {
    background-color: #28a745;
}

.images{
    display: flex;
    flex-direction: row;
}

.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    margin-left: 10%;
}

/* .institucional-pic{
    width: 50px;
    height: 50px;
} */

.kpi-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
}

.kpi {
    text-align: center;
    padding: 8px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: fit-content;
    background-color: rgba(60, 179, 113, 0.1);
    font-size: 1.5em;
    margin: 0 5px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 70%; */
}

.kpi h3 {
    margin: 0;
    width: fit-content;
    justify-content: space-evenly;
    height: fit-content;
    font-size: 22px;
}

.txt-kpi{
    font-size: 2em;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 8px;
    width: max-content;
    margin-left: 90px;

}

.alerts {
    color: red;
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 5px;
    margin-top: 10px;
}

.alerts-daily {
    color: orange;
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 7px;
    font-size: 2em;
}

.alerts-moderate {
    color: orange;
    font-weight: bold;
    font-size: 2em;
    margin-top: 10px;
}

h1 {
    font-family: 'Montserrat', sans-serif; 
    font-weight: 400;
    font-size: 3em; 
    text-align: center;
    margin-bottom: 10px;
    margin-top: 6px;
}

.tech-title {
    font-family: 'Montserrat', sans-serif; 
    font-size: 1.2em; 
    font-weight: 300;
    display: block;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 5em;
    text-align: center;
    animation: shrinkTitle 2s forwards;
}

@keyframes shrinkTitle {
    0% {
        font-size: 5em; 
    }
    100% {
        font-size: 3em;
    }
}

.bar-alert{
    justify-self: center;
    width: 850px;
    height: fit-content;
}

.bar .title {
    justify-content: center;
    align-items: center;
}

#alertTitle{
    background-color: red;
    font-size: 20px;
}